<nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand" href="#">MultiLanguage</a>
    <span class="spacer"></span>
    <div class="btn-group" dropdown>
    <!--<button id="button-animated dropdownToggle"
    type="button" class="btn btn-link dropdown-toggle" aria-controls="dropdown-animated">
      <i class="fa fa-globe" aria-hidden="true"></i>
      {{siteLanguage}}
      <span class="caret"></span>
    </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu dropdown-menu-right"
        role="menu" aria-labelledby="button-animated">
        <ng-container *ngFor="let language of languageList">
            <li role="menu-item">
                <a class="dropdown-item"
                 (click)="changeSiteLanguage(language.code)">{{language.label}}</a>
            </li>
        </ng-container>
      </ul> -->
      <select class="form-control" #selectedLanguage
        (change)="changeSiteLanguage(selectedLanguage.value)">
        <option *ngFor="let language of languageList" [value]="language.code"
            [selected]="language.code === translate.currentLang">{{language.code}}</option>
    </select>
    </div>
</nav>